<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="Connection" connectionString="server=(local);User ID=sa;Password=sa;Initial Catalog=testdb;Pooling=true;Max Pool Size=10000;Min Pool Size=0;" />-->
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
<appSettings>
  <!--配置测试DLL文件所在的文件夹-->
  <add key="TestBinPath" value="E:\SourceCode\Functester\trunk\TestBin"/>
</appSettings>
</configuration>
